{% extends 'base.html.twig' %}

{% block title %}batiment{% endblock %}

{% block body %}
<div class=" d-flex align-items-center justify-content-center mt-5">
     <div class="row">
        {{ form_start(form,{'attr': {'class': 'form-group col-md-12 mt-2'}})}}
            <h3 class="text-center mb-5">Ajouter un batiment </h3>
                {{form_label(form.Nbatiment,null, {
                  'label': 'Enter le N° du batment',
                  'label_attr': {'class': 'foo'}})}}

                {{form_widget(form.Nbatiment,{'attr': {'class': 'form-control col-md-12 '}})}}
                {{form_errors(form.Nbatiment)}}
                <input type="submit" value="Enregistrer" class="btn btn-primary  col-md-12 mt-3 ">
            
        {{ form_end(form)}}
      <div class="col-md-11 text-center btn btn-secondary ml-3 py-2"><a class="text-light"href={{ path('batiment_afficher') }}>Lister les Batmients</a></div>
   </div>
 
</div>
{% endblock %}
