{% extends 'base.html.twig' %}

{% block title %} New Room{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
  <div class="row align-items-center justify-content-center mt-5">
     <div class="col-4">
        {{ form_start(form,{'attr': {'class': 'col-md-12 mt-2'}})}}
            <h3 class="text-center mb-5">Ajouter une chambre </h3>
            {{form_label(form.batiment,null, {
                'label': 'Choisir le N° du batiment :',
                'label_attr': {'class': 'foo'}})}}
            {{form_widget(form.batiment,{'attr': {'class': 'form-control col-md-12 '} })}}
          
            {{form_label(form.Nchambre,null, {
                'label': 'Le N° chambre est :',
                'label_attr': {'class': 'foo'}})}}
            {{form_widget(form.Nchambre,{'attr': {'class': 'form-control col-md-12 ',
                                                 'readonly':'readonly',} })}}

            {{form_label(form.typeChambre,null, {
                'label': 'Choisir le type  chambre :',
                'label_attr': {'class': 'foo'}})}}
            {{form_widget(form.typeChambre,{'attr': {'class': 'form-control col-md-12 '}})}}
           
            <input type="hidden" value="{{nbchbre}}" id="nbchbre">
            <input type="submit" value="Enregistrer" class="btn btn-primary  col-md-12 mt-3 ">
            
        {{ form_rest(form)}}
        {{ form_end(form)}}
   </div>
 
</div>
{% endblock %}

 