{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-center">
    <div class="row ">
        <div class="col">
            <table id="" class="table table-striped" >
                <thead>
                    <tr class="text-center">
                        <th>Matricule</th>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Tel</th>
                        <th>Date N</th>
                        <th colspan="2">Fonction</th>
                        <th>detail</yh>
                    </tr>
                </thead>
                <tbody id="tbody">
                      {% for etudiant in etudiants  %}
                        <tr class="text-center">
                            <td>{{etudiant.matricule}}</td>
                            <td>{{etudiant.prenom}}</td>
                            <td>{{etudiant.nom}}</td>
                            <td>{{etudiant.email}}</td>
                            <td>{{etudiant.tel}}</td>
                            <td>{{etudiant.dateNaiss|date('y/m/d')}}</td>
                            <td><a href="">Modifier</a></td>
                            <td><a href="">Supprimer</a></td>
                            <td><a href="{{ path('etudiant_afficher', {'id': etudiant.id}) }}">Voire</a></td>
                        </tr>
                     {% endfor %}
                    
                </tbody>
            </table>
            <div class="suivant float-right"><input id="suivant" class="btn btn-success" type="button" value="suivant">
            </div>
        </div>
    </div>
</div>

{% endblock %}
