{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-center">
    <div class="row ">
        <div class="col">
            <table id="" class="table table-striped" >
                <thead>
                    <tr class="text-center">
                        <th>Matricule</th>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Tel</th>
                        <th>Date N</th>
                        <th colspan="2">Fonction</th>
                        <th>detail</yh>
                    </tr>
                </thead>
                <tbody id="tbody">
                      {% for etudiant in etudiants  %}
                        <tr class="text-center">
                            <td>{{etudiant.matricule}}</td>
                            <td>{{etudiant.prenom}}</td>
                            <td>{{etudiant.nom}}</td>
                            <td>{{etudiant.email}}</td>
                            <td>{{etudiant.tel}}</td>
                            <td>{{etudiant.dateNaiss|date('y/m/d')}}</td>
                            <td><a class="class':'btn btn-success" href="{{ path('etudiant_update', {'id': etudiant.id}) }}">update</a></td>
                            <td><a class="class':'btn btn-danger"  href="{{ path('etudiant_delete', {'id': etudiant.id}) }}">delete</a></td>
                            <td><a class="class':'btn btn-primary"  href="{{ path('etudiant_detail', {'id': etudiant.id}) }}">Voire</a></td>
                        </tr>
                     {% endfor %}
                    
                </tbody>
            </table>
            <div class="navigation text-center">
                {{ knp_pagination_render(etudiants) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
